%span.abouttext
  %center
    %h1 Take Action Austin!
  %div{:style => "padding-left: 25px; padding-right: 25px;"}
    %h3 For Businesses
    %p Are you a business or organization that wants to get involved with providing equitable bathroom access for the transgender community in Austin? Don't know where to get started? Maybe you don't have single occupancy bathrooms but still want to support equitable, bathroom access?
    %p We've created some tips that can help you create equitable bathroom access:
    %p Have a private or single occupancy bathroom? You can adopt inclusive signage and language like “uni-sex” or “gender neutral”. <a href="http://www.austintexas.gov/edims/document.cfm?id=223869">Austin Ordinance 20141211-211</a> already requires that all single stalls contain gender neutral signage.
    %p Have multi-stall facilities or lack the the space to add a third gender neutral stall? You can implement a visible policy, which states that people can use the bathroom that aligns with their gender identity or create language and signage that is more equitable and inclusive.
    %p If you have several multi-stall bathrooms, consider making one a single occupant bathroom by adding a lock to the entrance.
    %h4 Help us spotlight you and your business or organization!
    %p We provide window decals that you can place in your storefront to identify your business or organization as supportive of equitable bathroom access and transgender-friendly. For more information, you can reach us at <a href="mailto:bathroomaccessATX@gmail.com">bathroomaccessATX@gmail.com</a>.
    %h3 For Individuals
    %p To enact systemic change and truly equitable Austin, we need your help. The goal of this project is to encourage people from all walks of life to champion equitable bathroom access in the City of Austin.
    %p Feel comfortable talking to the local businesses that you shop at about adopting equitable bathroom policies and facilities, maybe you’re an expert and know where all the single occupant bathrooms are located? You can help!
    %h4 Questions about local or state resources and laws?
    %p We’ve created a list of resources for you:
    %ul
      %li <a href="http://www.transequality.org/know-your-rights/public-accommodations">National Center for Transgender Equality</a> is the nation’s leading social justice advocacy organization winning life-saving changes for transgender people.
      %li <a href="http://www.refugerestrooms.org/about">REFUGE Restroom</a> is a web application that seeks to provide safe restroom access for transgender, intersex, and gender nonconforming individuals.
      %li <a href="http://www.transtexas.org/">Trans Education Network of Texas</a> is an organization dedicated to furthering the gender diverse equity in the State of Texas. They educate and network in both public and private forums to halt discrimination through social, legal, legislative and corporate education.
      %li <a href="http://allgo.org/who-we-are/">Allgo</a> is an organization that works to create and sustain queer people of color activists, groups, organizations, and allies through artistic expression, promoting wellness, and grassroots organizing.
    %h3 Get Involved
    %p Have suggestions or want to get involved? We'd love to hear from you! Contact: <a href="mailto:bathroomaccessATX@gmail.com">bathroomaccessATX@gmail.com</a>.
