%span.abouttext
  %center
    %h1
      = "About Bathroom Access ATX"
  %div{:style => "padding-left: 25px; padding-right: 25px;"}
    %p Bathroom Access ATX was created during a whirlwind weekend of civic hacking at <a href="http://atxhackforchange.org">ATX Hack for Change 2017</a> between two boxes of Tiff’s Treats cookies and a dozen cups of coffee. This is a prototype modeled after <a href="http://refugerestrooms.org">REFUGE Restrooms</a> for purposes of demo-ing during the weekend hackathon. 

    %p The application strives to create an equitable resource, which can educate, engage, and empower people in the Austin community to advocate for access to equitable bathroom resources.

    %p Its purpose is twofold: to provide an Austin-specific web application modeled after the national resource REFUGE Restrooms that maps crowdsourced data on transgender-friendly bathrooms. The application is accompanied by materials to help support local outreach, including practical steps and tools for Austin residents, local business, and other organizations.

    %p Ultimately, this project hopes to effect positive change throughout the Austin community.

    %h3 Terms

    %ul
      %li <strong>Single, gendered: </strong> Single occupant, gendered “male” and “female” bathroom facilities, which contain signage and language that specify that a single gender can use the space.

      %li <strong>Single, ungendered:</strong> Single occupant, ungendered or gender-neutral bathroom facilities, which have gender neutral signage and language.

      %li <strong>Multi-stalled, ungendered:</strong> Multi-occupant, ungendered or gender-neutral facilities, designated for all genders. 


  


